<div class="mdui-table-fluid">
    <table id="depart-table" class="mdui-table">
        <thead>
            <tr>
                <th>#</th>
                <th>竞聘人姓名</th>
                <th class="mdui-table-col-numeric">总票数</th>
                <th class="mdui-table-col-numeric">操作</th>
                <th class="mdui-table-col-numeric">状态</th>
            </tr>
        </thead>
        <tbody id="tb">

            <% 
            for(var i=0;i<data.departments.length;i++){ 
                var d = data.departments[i];
                %>
                <tr class="<%= d._id %>">
                    <td>
                        <%= i+1 %>
                    </td>
                    <td>
                        <%= d.name %>
                    </td>
                    <td>
                        <%= d.votes %>
                    </td>
                    <td>
                        <button id="<%= d._id %>" class="mdui-btn mdui-color-blue-accent mdui-ripple" onclick="openDialog(this)">投票列表</button>
                        <!-- <button id="<%= d._id %>" class="mdui-btn mdui-color-pink-400 mdui-ripple" onclick="deleteDepart(this)">删除</button> -->
                        <button id="<%= d._id %>" class="mdui-btn mdui-color-pink-400 mdui-ripple" onclick="deleteDepart(this)">删除</button>
                    </td>
                    <td>
                        <label class="mdui-switch">
                            <input id="<%= d._id %>" type="checkbox" <%=d .status %> onchange="changeStatus(this)" />
                            <i class="mdui-switch-icon"></i>
                        </label>
                    </td>
                </tr>
                <% }%>
                    <tr class="sum">
                        <td></td>
                        <td>
                            全部
                        </td>
                        <td>
                            <%= data.sum %>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
        </tbody>
    </table>
</div>
<div class="mdui-fab-wrapper" id="fab" mdui-tooltip="{content: '添加'}" mdui-dialog="{target: '#content-dialog'}">
    <button class="mdui-fab mdui-ripple mdui-color-pink-accent">
        <i class="mdui-icon material-icons">add</i>
        <i class="mdui-icon mdui-fab-opened material-icons">mode_edit</i>
    </button>
</div>
<div class="mdui-dialog" id="content-dialog">
    <div class="mdui-dialog-title">
        请输入选手名称
    </div>
    <div class="mdui-dialog-content">
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">名称</label>
            <input class="mdui-textfield-input input-depart" type="text" />
        </div>
    </div>
    <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" onclick="addDepart()" mdui-dialog-confirm>添加</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-cancel>取消</button>
    </div>
</div>
<div class="mdui-dialog" id="list-dialog" style="overflow:auto">
    <!-- <div class="btn" style="text-align:right;padding:5px;">
        <button class="mdui-btn mdui-ripple mdui-color-blue-accent" onclick="exportExcel('result-table','xlsx')">导出数据</button>
    </div> -->
    <table id="result-table" class="mdui-table">
        <thead>
            <tr>
                <th>#</th>
                <th>投票人名称</th>
                <th class="mdui-table-col-numeric">总票数</th>
                <th class="mdui-table-col-numeric">所投票数</th>
            </tr>
        </thead>
        <tbody id="tbody-list"></tbody>
    </table>
</div>
<script>
    var inst = new mdui.Dialog('#list-dialog');
    function deleteDepart(obj) {
        var res = confirm('是否删除该选手');
        if (res) {
            $.ajax({
                method: 'post',
                url: '/deleteDepart',
                data: {
                    id: obj.id
                },
                success: function (data) {
                    if (data.result == 1) {
                        window.location.reload();
                    }
                }
            });
        }
    }
    function changeStatus(obj) {
        var value = "";
        if (obj.checked) {
            value = "checked";
        }
        var res = confirm('是否修改该选手状态');
        if (res) {
            $.ajax({
                method: 'post',
                url: '/changeStatus',
                data: {
                    id: obj.id,
                    value: value
                },
                success: function (data) {
                    if (data.result == 1) {
                        mdui.snackbar({
                            message: '修改成功',
                            position: 'top'
                        });
                    }
                }
            });
        } else {
            obj.checked = !obj.checked;
        }
    }
    function openDialog(obj) {
        $.ajax({
            method: 'post',
            url: '/getList',
            data: {
                dId: obj.id
            },
            success: function (data) {
                // console.log(data);
                $("#tbody-list").html("");
                var html = "", typeName = "";
                for (var i = 0; i < data.userList.length; i++) {
                    var u = data.userList[i].userId;
                    html += `
                    <tr>
                        <td>${i + 1}</td>
                        <td>${u.name}</td>
                        <td class="mdui-table-col-numeric">${u.type}</td>
                        <td class="mdui-table-col-numeric">${data.userList[i].number}</td>
                    </tr>
                    `;
                }
                $("#tbody-list").html(html);
                inst.open();
            }
        });
    }
    function addDepart() {
        var departName = $(".input-depart").val();
        if (departName != "") {
            $.ajax({
                method: 'post',
                url: "/addDepart",
                data: {
                    departName,
                },
                success: function (data) {
                    // document.getElementById("tb").innerHTML += `
                    //         <tr class="">
                    //             <td>${data.de.name}</td>
                    //             <td>${data.de.votes}</td>
                    //         </tr>`
                    //     ;
                    // mdui.updateTables();
                    window.location.reload();
                }
            });
        }
    }

</script>